$pale-blue-primary: hsl(225, 100%, 94%);
$bright-blue-primary: hsl(245, 75%, 52%);
$bright-blue-primary-active: hsl(245, 72%, 65%);
$bright-blue-primary-light: rgba(56, 41, 224, 0.04);

$very-pale-blue-neutral: hsl(225, 100%, 98%);
$desaturated-blue-neutral: hsl(224, 23%, 55%);
$dark-blue-neutral: hsl(223, 47%, 23%);
